<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta.description|striptags }}">
    <meta name="author" content="{{ config.author }}">

    <title>{{ site_title }}</title>
	<!-- [ Social Media Meta Tags ] -->
	<meta content='{{ site_title }}' property='og:title'/>
	<meta content='website' property='og:type'/>
	<meta content='{{ current_page.url }}' property='og:url'/>
	<meta content='{% if meta.img %}{{ meta.img }}{% else %}{{ theme_url }}/img/home-bg.jpg{% endif %}' property='og:image'/>
	<meta content="{{ meta.description|striptags }}" property='og:description'/>
	<meta content='{{ site_title }}' property='og:site_name'/>
	<meta content='en_US' property='og:locale'/>
	<meta content='summary_large_image' name='twitter:card'/>
	<meta content='{{ site_title }}' name='twitter:title'/>
	<meta content='{{ config.twitter }}' name='twitter:site'/>
	<meta content='{{ config.twitter }}' name='twitter:creator'/>
	<meta content='{{ meta.description|striptags }}' name='twitter:description'/>
	<meta content='{% if meta.img %}{{ meta.img }}{% else %}{{ theme_url }}/img/home-bg.jpg{% endif %}' name='twitter:image'/>
    <!-- Bootstrap Core CSS -->
    <link href="{{ theme_url }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ theme_url }}/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 
</head>

<body>
	<!-- Navigation -->
	{% if page_number > 1 %}
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="{{ base_url }}">Home</a>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	{% endif %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: {% if meta.img %} url({{ meta.img }}) {% else %} url('{{ theme_url }}/img/home-bg.jpg'){% endif %};">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ site_title }}</h1>
                        <hr class="small">
                        <span class="subheading">{{ meta.tagline }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% if paged_pages %}
                    {% for page in paged_pages|sort_by("time")|reverse %}
                        <div class="post-preview">
                            <a href="{{ page.url }}">
                                <h2 class="post-title">
                                    {{ page.title }}
                                </h2>
                                <h3 class="post-subtitle">
                                    {{ page.description }}
                                </h3>
                            </a>
                            <p class="post-meta">Posted by {{ page.author }} on {{ page.date }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}
                <!-- Pager -->
                <ul class="pager">
					{% if page_number > 1 %}
					<li class="previous">
                        <a href="{{ base_url }}/{{ page_indicator }}/{{ page_number - 1 }}">&larr; Newer Posts</a>
                    </li>
					{% endif %}
					
					{% if page_number < total_pages %} 
                    <li class="next">
                        <a href="{{ base_url }}/{{ page_indicator }}/{{ page_number + 1 }}">Older Posts &rarr;</a>
                    </li>
					{% endif %}
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
					{% for link,icon in meta.social %}
                        <li>
                            <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-{{ icon }} fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
					{% endfor %}
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; {{ site_title }} 2016</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
